<% const year = new Date().getFullYear() %>
<footer>
  <div id="footer-wrapper">
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <a href="/err?status=500">Error 500</a>
  </div>
</footer>