<header>
  <div class="top-header">
    <a href="/" title="Return to home page" class="logo">CSE Motors</a>
    <div id="tools">
      <a title="Click to log in" href="/account/login" class="header-link">My Account</a>
    </div>
  </div>
</header>