<header id="top-header">
    <span class="siteName">
      <a href="#" title="Site Name">CSE Motors</a>
    </span>
    <div id="Login">
      <a href="/account/login" title="Click to log in">My Account</a>
    </div>
</header>