<nav>
  <div class="menu-wrapper">
    <ul class="menu">
      <li class="menu__item">
        <a href="/" title='View the CSE Motors home page' class="menu__item-link">Home</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__item-link" title="View our product line">Custom</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__item-link" title="View our product line">Sedan</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__item-link" title="View our product line">SUV</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__item-link" title="View our product line">Truck</a>
      </li>
    </ul>
  </div>
</nav>