<h1 class="h1">Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="description">
  <div class="description__text">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman Doors</p>
    <p>Fuzzy dice!</p>
    <button class="own-today-button"><span class="text_forbutton">0</span></button>
  </div>
  <img src="/images/site/hero-image.webp" class="description__image" alt="delorean">
</div>
<div class="reviews-upgrades-wrapper">
  <div class="reviews">
    <h2 class="h1">DMC Delorean Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">"So fast its almost like traveling in time." [4/5]</li>
      <li class="reviews__item">"Coolest ride on the road." [4/5]</li>
      <li class="reviews__item">"I'm feeling Marty McFly!" [5/5]</li>
      <li class="reviews__item">"The most futuristic ride of our day." [4.5/5]</li>
      <li class="reviews__item">"80's living and I love it!" [5/5]</li>
    </ul>
  </div>
  <div class="upgrades">
    <h2 class="h1">Delorean Upgrades</h2>
    <ul class="upgrades__list">
      <li class="upgrades__item">
        <div class="upgrades__item-image upgrade-1"></div>
        <a href="#">Flux Capacitor</a>
      </li>
      <li class="upgrades__item">
        <div class="upgrades__item-image upgrade-2"></div>
        <a href="#">Flame Decals</a>
      </li>
      <li class="upgrades__item">
        <div class="upgrades__item-image upgrade-3"></div>
        <a href="#">Bumper Stickers</a>
      </li>
      <li class="upgrades__item">
        <div class="upgrades__item-image upgrade-4"></div>
        <a href="#">Hub Caps</a>
      </li>
    </ul>
  </div>
</div>