<h1 id="WlcMsg">Welcome to CSE Motors</h1>
<%- messages() %>
<div id="HeroWrapper">
    <img id="HeroImage" src="./images/vehicles/delorean.jpg" alt="Hero">
    <div id="CallToAction">
        <h1>DMC Delorean</h1>
        <h2>3 Cup holders</h2>
        <h2>Superman doors</h2>
        <h2>Fuzzy dice!</h2>
        
        <button type="submit">
            <img src="./images/site/own_today.png" alt="CTA Button"/>
        </button>    
    </div>
</div>
<div id="InfoWrapper">
    <div id="upgrades">
        <h1>Delorean Upgrades</h1>
        <div id="UCardWrapper">
            <div class="card">
                <div class="card-image">
                    <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <div class="card-content">
                    <a href="#"><h2>Flux Capacitor</h2></a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../images/upgrades/flame.png" alt="Flame Decals">
                </div>
                <div class="card-content">
                    <a href="#"><h2>Flame Decals</h2></a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <div class="card-content">
                    <a href="#"><h2>Bumper Stickers</h2></a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../images/upgrades/hub-cap.png" alt="Hub Caps">
                </div>
                <div class="card-content">
                    <a href="#"><h2>Hub Caps</h2></a>
                </div>
            </div>
        </div>
    </div>
    <div id="Reviews">
        <h1>DMC Delorean Reviews</h1>
        <div class="items-container">
            <ul class="item">
                <li><h2>"So fast it's almost like traveling in time." (4/5)</h2></li>
            </ul>
            <ul class="item">
                <li><h2>"Coolest ride on the road." (4/5)</h2></li>
            </ul>
            <ul class="item">
                <li><h2>"I'm feeling McFly!" (5/5)</h2></li>
            </ul>
            <ul class="item">
                <li><h2>"The most futuristic ride of our day." (4.5/5)</h2></li>
            </ul>
            <ul class="item">
                <li><h2>"80's livin and I love it!" (5/5)</h2></li>
            </ul>
        </div>
    </div>
</div>