*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --cyan: #4c96d7;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 25px;
}

button {
  border: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}
.red-text {
  color: red;
}
.bold-text {
  font-weight: bold;
}
.mt10 {
  margin-top: 5px;
}
.mt20 {
  margin-top: 10px;
}

h1,
h2 {
  font-size: 16px;
}

body {
  background: url("/images/site/small_check.webp") repeat;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.wrapper {
  max-width: 100%;
  margin: 0;
  background: #fff;
  padding: 10px 0;
}

.h1 {
  font-size: 22px;
}

.home-page .h1 {
  padding-left: 10px;
}

.notice {
  color: red;
  font-weight: bold;
  font-style: italic;
}

footer {
  padding: 10px;
  margin-top: 0;
}

.menu {
  background: #3a3a3a;
  display: flex;
  margin: 10px 0;
  padding: 0;
}

.menu__item {
  color: white;
  list-style: none;
  text-decoration: none;
  flex: 1 1 auto;
  text-align: center;
}

.menu__item.active,
.menu__item:hover {
  background: var(--cyan);
  color: #3a3a3a;
}

.menu__item-link {
  display: block;
  padding: 20px 8px;
  color: #fff;
  text-decoration: none;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.main {
  padding: 0 4px 20px;
}

.main_500 {
  padding: 0 25px;
}

.header-right {
  display: flex;
  padding-right: 10px;
}

.header-link {
  padding: 10px;
  margin: auto;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  display: block;
}

.header-link:hover {
  text-decoration: underline;
}
.header-link_inactive:hover,
.header-link_search:hover {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 12px 5px;
}

.own-today-button {
  background: url("/images/site/own_today.png") no-repeat;
  background-size: 100%;
  width: 100%;
  max-width: 241px;
  padding-top: 29.2%;
  cursor: pointer;
  margin: 20px 0 0;
  font-size: 0;
  line-height: 0;
}

.text_forbutton {
  opacity: 0;
}

.description {
  position: relative;
  text-align: center;
}

.description h2,
.description p {
  color: var(--cyan);
  font-size: 15px;
}

.description h2 {
  margin: 5px 0;
}

.description__text {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: left;
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.5);
}

.description__image {
  width: 100%;
}

.reviews__item + .reviews__item {
  margin-top: 12px;
}

.upgrades__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -4px;
  padding: 0;
}

.upgrades__item {
  width: calc(50% - 9px);
  margin: 15px 4px;
  list-style: none;
  text-align: center;
}

.upgrades__item-image {
  height: 100px;
  background: var(--cyan);
  background-position: center;
  background-repeat: no-repeat;
  outline: 1px solid #3a3a3a;
}

.upgrade-1 {
  background-image: url("/images/upgrades/flux-cap.png");
}

.upgrade-2 {
  background-image: url("/images/upgrades/flame.jpg");
}

.upgrade-3 {
  background-image: url("/images/upgrades/bumper_sticker.jpg");
}

.upgrade-4 {
  background-image: url("/images/upgrades/hub-cap.jpg");
}

/* MEDIA */

@media (min-width: 500px) {
  /* … */
}

@media (min-width: 720px) {
  .header-link {
    font-size: 18px;
  }
  .header-right {
    padding-right: 20px;
  }
  #inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  #inv-display h2 {
    font-size: 1rem;
  }
  #inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #inv-display div {
    width: 100%;
  }
  .vehicle__container {
    flex-direction: row;
    margin: -10px;
  }
  .vehicle__column {
    padding: 10px;
  }
  .vehicle__column_thumbnails {
    max-width: 15%;
    order: 1;
  }
  .vehicle__column_main {
    max-width: 35%;
    order: 2;
  }
  .vehicle__column_main-full {
    max-width: 50%;
    order: 1;
  }
  .vehicle__column_text {
    max-width: 50%;
    order: 3;
  }
  .vehicle__thumbnail {
    transition: transform 0.5s ease;
  }
  .vehicle__thumbnail:hover {
    transform: scale(1.5);
  }
  .vehicle__thumbnails-container {
    flex-direction: column;
  }
  .vehicle__info-list {
    margin-top: 0;
  }
  .inv-img-container {
    height: 150px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 30px;
  }
  .wrapper {
    max-width: 1200px;
    border: 5px solid var(--cyan);
    border-radius: 10px;
    margin: 0 auto 15px;
  }
  .menu__item-link {
    padding: 20px;
  }
  .description__text {
    padding: 0 30px;
  }
  .description h2,
  .description p {
    font-size: 20px;
  }
  .reviews-upgrades-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px 60px;
    margin: 20px -20px 0;
  }
  .reviews,
  .upgrades {
    width: 50%;
    padding: 0 20px;
  }
  .reviews__item + .reviews__item {
    margin-top: 20px;
  }
  .reviews-upgrades-wrapper .h1 {
    margin-bottom: 25px;
  }
  .header-link {
    font-size: 20px;
    padding: 20px;
  }
}
