<!-- Content Heading -->
<% if (title) { %>
  <h1 id="contentHeader"><%= title %></h1>
  <% } else {
      res.redirect('/')
  } %>
  
  <!-- Message -->
  <%# messages() %>
  
  <!-- Inventory Items -->
  <%- grid %>