<% if (title) { %>
    <h1><%= title %></h1>
    <% } else{
        res.redirect("/") 
    } %>

<%- messages() %>

<%- links %>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>Please enable JavaScript to access this page..</noscript>

<script src="../../js/inventory.js"></script>