<!-- Content Heading -->
<% if (title) { %>
  <h1 id="errorHeader"><%= title %></h1>
  <% } else {
      res.redirect('/')
  } %>
  
  <!-- Image -->
  <div><img id="errorImage" src="./images/site/sick-car.png" alt="Error Image"></div>
  
  <!-- Message -->
  <div id="errorMessage"><%- message %></div>